body {
    background: rgba(75, 135, 184, 0.815);
}

.heading {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    text-align: center;
    color: rgb(219, 207, 136);
}

.container {
    align-items: center;
    text-align: center;
}

.btn {
    width: 200px;
    height: 200px;
    border-radius: 25%;
    border: black solid 10px;
    margin: 10px;
    display: inline-block;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: rgb(223, 107, 30);
}

.yellow {
    background-color: yellow;
}

.pressed {
    background-color: grey;
    box-shadow: 0 0 20px rgb(103, 103, 146);
}

.wrong {
    background-color: red;
}